<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" /> 
<head>
    <title>CostSharing</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>	
	<div class="col d-flex justify-content-center"><div class="card" style="width: 30%">
		<div class="card-body">
			<h3 class="card-title">Edit trip</h3>
			<form th:object="${trip}" th:action="@{/savetrip}" action="#" method="post">
				<table  class="table">
			    	<tr><td>Name: </td><td><input type="text" th:field="${trip.tripName}" /></td></tr>
			    	<tr><td></td><td><input type="hidden" th:field="${trip.tripID}" /></td></tr>
			    	
				</table> 
			    <input type="submit" name="save" value="Save"/>
			    <input type="submit" name="cancel" value="Cancel"/>
			</form>
     	</div>
    </div></div>
   	<div class="col d-flex justify-content-center"><div class="card" style="width: 30%">
		<div class="card-body">
			<h3 class="card-title">List of participants</h3>
			<a th:href="@{/trips/{id}/addparticipant(id=${trip.getTripID()})}"><button class="btn btn-secondary">Add a new participant</button></a>
		    <table  class="table">
		    	<tr th:each = "part:${participants}">
		    		<td th:text="${part.getPartName()}"></td>
		    		<td style="width:100px;"><a th:href="@{/editpart/{id}(id=${part.getPartID()})}"><button class="btn btn-success">Edit</button></a></td>
		    		<td style="width:100px;"><a th:href="@{/delete/{id}(id=${part.getPartID()})}"><button class="btn btn-danger">Delete</button></a></td>
		    	</tr>
		     </table>  
     	</div>
     </div></div>


</body>
</html>