<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" /> 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js">
</script>
<script type="text/javascript">
$(document).ready(function() {
    $("#locales").change(function () {
        var selectedOption = $('#locales').val();
        if (selectedOption != ''){
            window.location.replace('trips?lang=' + selectedOption);
        }
    });
});
</script>

<head>
    <title>CostSharing</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>
		th, td {
		  padding: 5px;
		}
</style>
</head>
<body>
	<div class="col d-flex justify-content-center"><div class="card" style="width: 90%">
		<div class="card-body">
			<div class="col-md-4">
				<table>
					<tr>
						<td><h3 th:inline="text" th:text="#{greeting}"></h3></td>
						<td><h3>[[${#httpServletRequest.remoteUser}]]!</h3></td>
						<td>
							<form th:action="@{/logout}" method="post">
								<input type="submit" value="Sign Out" class="btn btn-sm btn-danger"/>
							</form>
						</td>
					</tr>
				</table>
				<span th:text="#{lang.change}"></span>:
					<select id="locales">
					    <option value=""></option>
					    <option value="en" th:text="#{lang.eng}"></option>
					    <option value="fi" th:text="#{lang.fi}"></option>
					</select>
			</div>
		</div>
	</div></div>
	<div class="col d-flex justify-content-center"><div class="card" style="width: 90%">
		<div class="card-body">
			<h1  class="card-title" th:text="#{trips}"></h1> 
			<span th:text="#{click}"></span>
		    <table  class="table" style="width:90%">
		
		    	<tr th:each = "trip : ${trips}">
		    		<td><a th:href="@{/trips/{id}(id=${trip.getTripID()})}" th:text="${trip.tripName}"></a></td>
		    		<td style="width:100px;" sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/edittrip/{id}(id=${trip.getTripID()})}"><button class="btn btn-success" th:text="#{button.edit}"></button></a></td>
		    		<td style="width:100px;" sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/delete/{id}(id=${trip.getTripID()})}"><button class="btn btn-danger" th:text="#{button.delete}"></button></a></td>
		    	</tr>
		     </table> 	
		     <a href = "/addtrip" sec:authorize="hasAuthority('ADMIN')"><button class="btn btn-secondary" th:text="#{addTrip}"></button></a>
     	</div>
	</div></div>
</body>
</html>