<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" /> 
<head>
    <title>CostSharing</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div class="col d-flex justify-content-center"><div class="card" style="width: 90%">
		<div class="card-body">
			<div class="col-md-4">
				<h3 th:inline="text">Welcome [[${#httpServletRequest.remoteUser}]]</h3>
				<form th:action="@{/logout}" method="post">
					<input type="submit" value="Sign Out" class="btn btn-sm btn-danger"/>
				</form>
			</div>
		</div>
	</div></div>
	<div class="col d-flex justify-content-center"><div class="card" style="width: 90%">
		<div class="card-body">
			<h1  class="card-title" >Trips</h1> 
			(click on the trip name to open list of participants and expenses)
		    <table  class="table" style="width:90%">
		
		    	<tr th:each = "trip : ${trips}">
		    		<td><a th:href="@{/trips/{id}(id=${trip.getTripID()})}" th:text="${trip.tripName}"></a></td>
		    		<td style="width:100px;" sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/edittrip/{id}(id=${trip.getTripID()})}"><button class="btn btn-success">Edit</button></a></td>
		    		<td style="width:100px;" sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/delete/{id}(id=${trip.getTripID()})}"><button class="btn btn-danger">Delete</button></a></td>
		    	</tr>
		     </table> 	
		     <a href = "/addtrip" sec:authorize="hasAuthority('ADMIN')"><button class="btn btn-secondary">Add a new trip</button></a>
     	</div>
	</div></div>
</body>
</html>